@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    margin: 0;
    font-family: "Pacifico", sans-serif;
    height: 100vh;
    background-color: #ebebe0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00004d;
}
section {
    vertical-align: center;
    font-size: 2.5rem;
    margin: 0;
}
h1 {
    color: #ebebe0;
    padding: 1rem;
    margin-right: 1.5rem;
}
.width {
    text-align: center;
    width: 33.33%;
    height: auto;
}
button {
    width: 15rem;
    height: 5rem;
    font-family: "Pacifico", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: #00004d;
    color: #ebebe0;
    
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
button:hover {
    background-color: #ebebe0;
    color:  #00004d;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    color:  #00004d;
}
.temp, .city, .weatherDetail, .country {
    font-size: 5rem;
}
.iconpic {
    text-align: center;
}
footer {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    background-color: #00004d;
    color: #ebebe0;
    padding: 1rem;
}
footer span {
    margin-left: 1rem;
    color: #ebebe0;
}
div {
    font-size: 3rem;
}