@import url('https://fonts.googleapis.com/css?family=Pacifico');



/*-------------------------mobile design*/

body {
    margin: 0;
    font-family: "Pacifico", sans-serif;
    font-size: 1rem;
    background-color: #ebebe0;
}

/*---------------------------header*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00004d;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input {
    border-radius: 0.5rem;
    width: 9rem;
    height: 3rem;
    font-family: "Pacifico", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: #ebebe0;
    color: #00004d;
}

h1 {
    display: none;
    color: #ebebe0;
    padding: 1rem;
    margin-right: 1.5rem;
    font-size: 1.7rem;
}

/*---------------------------header button*/

.toggle {
    display: flex;
    align-items: center;
}

button {
    width: 9rem;
    height: 3rem;
    font-family: "Pacifico", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: #00004d;
    color: #ebebe0;

    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
    background-color: #ebebe0;
    color: #00004d;
}

/*---------------------------flex container*/

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    color: #00004d;
    height: 100vh;
}

.width {
    padding: 0;
    text-align: center;
    width: 100%;
    height: auto;
}

.move {
    margin-top: 3rem;
}

.temp {
    margin-top: 6rem;
}

.temp,
.city,
.weatherDetail,
.country,
.humidity,
.pressure,
.sunrise,
.sunset {
    font-size: 1.5rem;
}

.iconpic {
    text-align: center;
}

/*---------------------------footer*/

footer {
    font-size: 1.5rem;
    margin: 0;
    background-color: #00004d;
    color: #ebebe0;
    padding: 1rem;
}

footer span {
    margin-left: 1rem;
    color: #ebebe0;
}

/*---------------------------media querry min width 768px*/

@media (min-width: 768px) {
    h1 {
        display: block;
        color: #ebebe0;
        padding: 1rem;
        margin-right: 1.5rem;
    }
    .temp {
        margin-top: 10rem;
    }
}

/*---------------------------media querry min width 992px*/

@media (min-width: 992px) {

    /*---------------------------desktop design*/
    body {
        margin: 0;
        font-family: "Pacifico", sans-serif;
        height: 100vh;
        background-color: #ebebe0;
    }

    /*---------------------------header*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #00004d;
    }
    h1 {
        display: inline-block;
        color: #ebebe0;
        padding: 1rem;
        margin-right: 1.5rem;
    }

    /*---------------------------header input field*/
    input {
        width: 15rem;
        height: 5rem;
        font-family: "Pacifico", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
        background-color: #ebebe0;
        color: #00004d;
    }
    /*---------------------------header button*/
    button {
        display: block;
        width: 15rem;
        height: 5rem;
        font-family: "Pacifico", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        background-color: #00004d;
        color: #ebebe0;

        transition: color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }

    button:hover {
        background-color: #ebebe0;
        color: #00004d;
    }

    /*---------------------------flex container*/
    .flex {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: 0;
        color: #00004d;
    }
    .width {
        text-align: center;
        width: 100%;
        height: auto;
    }
    .temp,
    .city,
    .weatherDetail,
    .country,
    .humidity,
    .pressure,
    .sunrise,
    .sunset {
        font-size: 4rem;
    }
    .iconpic {
        text-align: center;
    }
    /*---------------------------footer*/
    footer {
        font-size: 1.5rem;
        margin: 0;
        background-color: #00004d;
        color: #ebebe0;
        padding: 1rem;
    }

    footer span {
        margin-left: 1rem;
        color: #ebebe0;
    }
}